<footer class="footer">
    <div class="container-fluid">
        <span class="text-muted">&copy; 2017 - aspCart</span>
        <span style="float: right;">
            <a href="https://github.com/marklaygo/aspCart" target="_blank">
                <span class="fa fa-github text-muted"> GitHub Repository</span>
            </a>
        </span>
    </div>
</footer>
