<footer class="footer">
    <div class="container-fluid">
        <small class="text-muted">
            <a href="#">About</a> /
            <a asp-area="" asp-controller="ContactUs" asp-action="Index">Contact us</a> /
            <span>&copy; 2017 aspCart</span>
        </small>
        <span style="float: right;">
            <a href="https://github.com/marklaygo/aspCart" target="_blank">
                <span class="fa fa-github text-muted"> GitHub Repository</span>
            </a>
        </span>
    </div>
</footer>
