<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | aspCart</title>

    <link href="~/lib/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap-4.0.0-alpha.6-dist/js/tether.min.js"></script>
    <script src="~/lib/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">aspCart</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="nav-link">Admin dashboard</a>
                </li>
                <li class="nav-item">
                    <form asp-area="" asp-controlle="Home" asp-action="ProductSearch" method="get" class="form-inline">
                        <input class="form-control mr-sm-2" name="name" placeholder="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>
    
    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <span class="text-muted">&copy; 2017 - aspCart</span>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
