@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ 
    string _cartItemsCountSessionKey = "CartItemsCount";
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item"><div class="dropdown-divider dd-mobile"></div></li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Cart" asp-action="Index" class="nav-link mx-1 my-1">
                    <i class="fa fa-shopping-cart"></i>
                    @if (Context.Session.GetString(_cartItemsCountSessionKey) != null && Context.Session.GetInt32(_cartItemsCountSessionKey) != 0)
                    {
                        @:Cart (@Context.Session.GetInt32(_cartItemsCountSessionKey).ToString())
                    }
                    else
                    {
                        @:Cart
                    }
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle my-1" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @UserManager.GetUserName(User)
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a asp-area="" asp-controller="Manage" asp-action="Index" class="dropdown-item">Manage</a>
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Log off</a>
                </div>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item"><div class="dropdown-divider dd-mobile"></div></li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Cart" asp-action="Index" class="nav-link mx-1 my-1">
                <i class="fa fa-shopping-cart"></i>
                @if (Context.Session.GetString(_cartItemsCountSessionKey) != null && Context.Session.GetInt32(_cartItemsCountSessionKey) != 0)
                {
                    @:Cart (@Context.Session.GetInt32(_cartItemsCountSessionKey).ToString())
                }
                else
                {
                    @:Cart
                }
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-outline-primary navbar-btn mx-1 my-1">Log in</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-secondary navbar-btn mx-1 my-1">Register</a>
        </li>
        @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a asp-area="" asp-controller="Account" asp-action="Register" class="dropdown-item">Register</a>
                <a asp-area="" asp-controller="Account" asp-action="Login" class="dropdown-item">Log in</a>
            </div>
        </li>*@
    </ul>
}
