@model ProductCreateOrUpdateModel
@{
    ViewData["Title"] = ViewData["ContentHeader"] = "Add new product";
}

@section menu {
    <script type="text/javascript">
        $(function () {
            var menuItem = $('#menu-catalog');
            menuItem.addClass('active');
            var subMenuItem = menuItem.find('#menu-catalog-product').parent();
            subMenuItem.addClass('active');
        });
    </script>
}

@section headerLeftOptional {
    <a asp-action="List" class="fa fa-arrow-circle-left"> back to list</a>
}

@section actionHeader {
    <div class="input-group">
        <button type="button" class="btn btn-primary input-stack-margin" id="save"><i class="fa fa-save"></i>&nbsp; Save</button>
        <button type="button" class="btn btn-primary input-stack-margin" id="continue"><i class="fa fa-save"></i>&nbsp; Save and continue editing</button>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Product" asp-action="Create" method="post" id="productForm">
            <input type="hidden" asp-for="ActiveTab" />
            <input type="hidden" id="continueEditing" name="continueEditing" value="false" />

            <div id="validation"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="nav-tabs-custom">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#infoContent" class="tabNav" id="info" data-toggle="tab">Basic Info</a></li>
                    <li role="presentation"><a href="#dataContent" class="tabNav" id="data" data-toggle="tab">Data</a></li>
                    <li role="presentation"><a href="#seoContent" class="tabNav" id="seo" data-toggle="tab">SEO</a></li>
                    <li role="presentation"><a href="#imageContent" class="tabNav" id="image" data-toggle="tab">Images</a></li>
                    <li role="presentation"><a href="#specificationContent" class="tabNav" id="specification" data-toggle="tab">Specifications</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="infoContent">
                        @await Html.PartialAsync("_CreateOrUpdate_Info", Model)
                    </div>
                    <div role="tabpanel" class="tab-pane" id="dataContent">
                        @await Html.PartialAsync("_CreateOrUpdate_Data", Model)
                    </div>
                    <div role="tabpanel" class="tab-pane" id="seoContent">
                        @await Html.PartialAsync("_CreateOrUpdate_Seo", Model)
                    </div>
                    <div role="tabpanel" class="tab-pane" id="imageContent">
                        @await Html.PartialAsync("_CreateOrUpdate_Images", Model)
                    </div>
                    <div role="tabpanel" class="tab-pane" id="specificationContent">
                        @await Html.PartialAsync("_CreateOrUpdate_Specification", Model)
                    </div>
                </div>

            </div> <!-- nav tabs custom end -->
        </form>
    </div> <!-- col md 12 end -->
</div> <!-- row end -->

@await Html.PartialAsync("_ImageManagerModal")

@section scripts {
    <script>
        // run validator on all tabs
        $.validator.setDefaults({
            ignore: []
        });

        // onready
        $(function () {
            initializeNav();
            initializeICheck();
        });

        // set hidden value of nav and content
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $('#ActiveTab').val(e.target.getAttribute('id'));
        })

        // form save
        $('#save').on('click', function (e) {
            e.preventDefault();

            // check if form is valid
            var result = $('#productForm').valid();

            if (result != 0) {
                $('#continueEditing').val(false);

                // rename imagesort order name
                $('input.img-sort-order').each(function () {
                    $(this).attr('name', "ImageSortOrder");
                });

                // rename specSortOrder
                var counter = 0;
                $('input.specSortOrder').each(function () {
                    $(this).attr('name', "Specifications[" + counter + "].SortOrder");
                    counter++;
                });

                // rename specKey
                counter = 0;
                $('select.specKey').each(function () {
                    $(this).attr('name', "Specifications[" + counter + "].Key");
                    counter++;
                });

                // rename specValue
                counter = 0;
                $('textarea.specValue').each(function () {
                    $(this).attr('name', "Specifications[" + counter + "].Value");
                    counter++;
                });

                $('#productForm').submit();
            } else {
                $('#validation').empty();
                $('#validation').append('<div class="validation-summary-errors text-danger"><ul><li>Something went wrong! Recheck all inputs</li></ul></div>');
            }
        });

        // form save and continue editing
        $('#continue').on('click', function (e) {
            e.preventDefault();

            // check if form is valid
            var result = $('#productForm').valid();

            if (result != 0) {
                $('#continueEditing').val(true);

                // rename imagesort order name
                $('input.img-sort-order').each(function () {
                    $(this).attr('name', "ImageSortOrder");
                });

                // rename specSortOrder
                var counter = 0;
                $('input.specSortOrder').each(function () {
                    $(this).attr('name', "Specifications[" + counter + "].SortOrder");
                    counter++;
                });

                // rename specKey
                counter = 0;
                $('select.specKey').each(function () {
                    $(this).attr('name', "Specifications[" + counter + "].Key");
                    counter++;
                });

                // rename specValue
                counter = 0;
                $('textarea.specValue').each(function () {
                    $(this).attr('name', "Specifications[" + counter + "].Value");
                    counter++;
                });

                $('#productForm').submit();
            } else {
                $('#validation').empty();
                $('#validation').append('<div class="validation-summary-errors text-danger"><ul><li>Something went wrong! Recheck all inputs</li></ul></div>');
            }
        });


        // set active nav
        function initializeNav() {
            $('.tabNav#@Model.ActiveTab').parent().addClass('active');
            $('.tab-pane#@(Model.ActiveTab + "Content")').addClass('active');
        };

        // initialize ICheck
        function initializeICheck() {
            // iCheck
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        };

        // guid
        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                  .toString(16)
                  .substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
              s4() + '-' + s4() + s4() + s4();
        }
    </script>
}
