@model CreateReviewModel
@{
    ViewData["Title"] = "Write a review";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>Write a review for @Model.ProductName</h5>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form id="reviewForm" asp-area="" asp-controller="Home" asp-action="CreateReview" method="post">
                        <input type="hidden" asp-for="ProductId" />
                        <input type="hidden" asp-for="ProductName" />
                        <input type="hidden" asp-for="ProductSeo" />

                        <!-- rating -->
                        <div class="form-group">
                            <label>Rating: </label>
                            <div class="star-rating">
                                <input asp-for="Rating" type="radio" id="5stars" name="Rating" value="5" />
                                <label for="5stars" class="star"><i class="fa fa-star"></i></label>
                                <input asp-for="Rating" type="radio" id="4stars" name="Rating" value="4" />
                                <label for="4stars" class="star"><i class="fa fa-star"></i></label>
                                <input asp-for="Rating" type="radio" id="3stars" name="Rating" value="3" />
                                <label for="3stars" class="star"><i class="fa fa-star"></i></label>
                                <input asp-for="Rating" type="radio" id="2stars" name="Rating" value="2" />
                                <label for="2stars" class="star"><i class="fa fa-star"></i></label>
                                <input asp-for="Rating" type="radio" id="1star" name="Rating" value="1" />
                                <label for="1star" class="star"><i class="fa fa-star"></i></label>
                            </div>
                        </div>

                        <!-- title -->
                        <div class="form-group">
                            <label asp-for="Title">Review title</label>
                            <input asp-for="Title" class="form-control max-width">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <!-- message -->
                        <div class="form-group">
                            <label asp-for="Message">Message</label>
                            <textarea asp-for="Message" class="form-control max-width" rows="10"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        @{ 
                            string btnValue = "Submit";
                            if(ViewData["ReviewEdited"] != null && (bool)ViewData["ReviewEdited"])
                            {
                                btnValue = "Update";
                            }
                        }
                        <button type="button" class="btn btn-info" id="btn-submit">@btnValue</button>
                        <a href="/Product/@Model.ProductSeo#!#reviews" class="btn btn-secondary">Cancel</a>
                    </form>
                </div> <!-- col-md-6 end -->
            </div> <!-- row end -->
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#btn-submit').on('click', function (e) {
            e.preventDefault();

            let form = $('#reviewForm');
            let submitBtn = $(this);

            var result = form.valid();

            if (result) {
                if (submitBtn.text() === 'Update') 
                    form.attr('action', "/Home/EditReview")

                form.submit();
            }

        });
    });
</script>
