@model IEnumerable<aspCart.Core.Domain.Catalog.Category>

<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle my-1" href="#" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="categoryDropdown">
            @foreach (var category in Model)
            {
                <a asp-area="" asp-controller="Category" asp-action="@category.Name" class="dropdown-item">@category.Name</a>
            }
        </div>
    </li>
</ul>
