input,
select,
textarea {

}

.table > thead > tr > td,
.table > tbody > tr > td {
    vertical-align: middle !important;
}

.input-stack-margin {
    margin: 2px;
}

.fa.true-icon {
    color: #007FCC;
    font-size: 20px;
}

.fa.false-icon {
    color: #D22D2D;
    font-size: 20px;
}

.selected {
    background-color: #b1b1b1;
}

.selected:hover {
    background-color: #9a9a9a !important;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.thumbnail-img {
    margin-top: 5px;
    height: 150px !important;
    width: 150px !important;
}

.thumbnail > .caption {
    padding-top: 0px;
}

.thumbnail-title {
    font-size: 16px;
    line-height: normal;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
