<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Template by <a href="https://almsaeedstudio.com/" target="_blank">Almsaeed Studio</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2017 <a asp-controller="Dashboard" asp-action="Index">aspCart</a></strong>
</footer>
