@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/images/system/user-160x160.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@UserManager.GetUserName(User)</p>
                <!-- Status -->
                <i class="fa fa-circle text-success"></i> Online
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Navigation</li>
            <!-- Optionally, you can add icons to the links -->
            <li id="menu-dashboard"><a asp-controller="Dashboard" asp-action="Index"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-tv"></i><span>Main Store</span></a></li>
            <li id="menu-catalog" class="treeview">
                <!-- catalog tree bar -->
                <a href="#">
                    <i class="fa fa-book"></i> <span>Catalog</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a id="menu-catalog-product" asp-controller="Product" asp-action="List"><i class="fa fa-circle-o"></i><span>Product</span></a></li>
                    <li><a id="menu-catalog-category" asp-controller="Category" asp-action="List"><i class="fa fa-circle-o"></i><span>Category</span></a></li>
                    <li><a id="menu-catalog-manufacturer" asp-controller="Manufacturer" asp-action="List"><i class="fa fa-circle-o"></i><span>Manufacturer</span></a></li>
                    <li><a id="menu-catalog-specification" asp-controller="Specification" asp-action="List"><i class="fa fa-circle-o"></i><span>Specification</span></a></li>
                    <li><a id="menu-catalog-imageManager" asp-controller="ImageManager" asp-action="Index"><i class="fa fa-circle-o"></i><span>Image Manager</span></a></li>
                </ul>
            </li>
            <!-- sales tree bar -->
            <li id="menu-sale" class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i> <span>Sales</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a id="menu-sale-orders" asp-controller="Order" asp-action="List"><i class="fa fa-circle-o"></i><span>Orders</span></a></li>
                </ul>
            </li>
            <!-- support bar -->
            <li id="menu-support" class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Support</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a id="menu-support-contactus" asp-controller="ContactUsMessage" asp-action="List"><i class="fa fa-circle-o"></i><span>Contact us</span></a></li>
                </ul>
            </li>
        </ul>

        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
